<h1>Battles</h1>
<div class="battles">
  <div *ngIf='error' ng-class="{fade:doFade}" class="alert alert-danger"><strong>Erreur:</strong> {{error.message}}</div>
  <div *ngFor="let battle of battles" class="panel battle">
    <div class="content-top">

      <div class="video">
        <div class="battle-content">
          <video  controls="" width="100%" height='100%'>
            <source src="{{battle.video_1.video.url}}" />
          </video>
        </div>
      </div>
      <div class="user-bar user1">
        <!-- <div class="vote-number">{{battle.video_1.votes}} votes</div> -->
         <button
          type="button"
          class="btn btn-secondary btn-sm btn-yellow"
          (click)="vote(battle, 1)"
          *ngIf="battle.video_1.isVoted == false"
          style="margin-right:10px;">
            Vote for Me&nbsp;&nbsp;<span class="glyphicon">&#xe129;</span>
        </button>
        <button
          type="button"
          class="btn btn-secondary btn-sm"
          (click)="unvote(battle)"
          *ngIf="battle.video_1.isVoted == true"
          style="margin-right:10px;">
            voted
        </button>
        <div class="usr">
          <img class="user-img" src="{{battle.video_1.video.ownerId.profile.pictureUrl}}">
          <a [routerLink]="['/profile', battle.video_1.video.ownerId.profile.username, 'battles']">{{battle.video_1.video.ownerId.profile.username}}</a>
        </div>
      </div>
    </div>
    <div>
      <img class="vs-logo" src="../../assets/img/versus_color_border2.png">
      <div class="divider"></div>
    </div>
    <div class="content-bot">
      <div class="user-bar user2">
        <div class="usr">
          <a [routerLink]="['/profile', battle.video_2.video.ownerId.profile.username, 'battles']">{{battle.video_2.video.ownerId.profile.username}}</a>
          <img class="user-img" src="{{battle.video_2.video.ownerId.profile.pictureUrl}}">
        </div>
        <button
          type="button"
          class="btn btn-secondary btn-sm btn-yellow"
          (click)="vote(battle, 2)"
          *ngIf="battle.video_2.isVoted == false"
          style="margin-right:10px;">
            Vote for Me&nbsp;&nbsp;<span class="glyphicon">&#xe130;</span>
        </button>
        <button
          type="button"
          class="btn btn-secondary btn-sm "
          (click)="unvote(battle)"
          *ngIf="battle.video_2.isVoted == true"
          style="margin-right:10px;">
            voted
        </button>
        <!-- <div class="vote-number">{{battle.video_2.votes}} votes</div> -->
      </div>
      <div class="video">
        <div class="battle-content">
          <video controls="" width="100%" height='100%'>
            <source src="{{battle.video_2.video.url}}" />
          </video>
        </div>
      </div>
    </div>
  </div>
</div>
