<div class="videos" [class.alone]="alone">
  <div *ngIf="video" class="panel video">
    <div class="video-heading">
      <img src="{{video.ownerId.profile.pictureUrl}}">
      <a [routerLink]="['/profile', video.ownerId.profile.username, 'videos']">{{ video.ownerId.profile.username }}</a>
    </div>
    <div class="video-content">
      <video controls="" width="100%" height="100%" poster="{{video.thumbnailUrl}}">
        <source src="{{video.url}}" />
      </video>
    </div>
    <div class="video-metadata">
      <a class="title clickable" [routerLink]="['/video', video._id]">{{ video.title }}</a>
      <p class="video-description">{{ video.description }}</p>
    </div>
    <div class="divider">
    </div>
    <div class="video-footer">
      <a href="#">
        {{video.likes}} Likes
      </a>

      <img [hidden]="true" (click)="share(video)" class="pull-right" src="../../assets/img/share.png" >
      <img class="footer-buttons pull-right" src="../../assets/img/comment.png">
      <img class="footer-buttons pull-right" (click)="unlike(video)" *ngIf="video.isLiked == true"  src="../../assets/img/like.png" >
      <img class="footer-buttons pull-right" (click)="like(video)" *ngIf="video.isLiked == false"  src="../../assets/img/unlike.png" >
      <img class="footer-buttons pull-right" (click)="challenge(video)"  *ngIf="video && !video.isOwner" src="../../assets/img/versus_color_border2.png">

    </div>
    <div *ngFor="let comment of comments" class="video-comment">

    <div class="divider">
    </div>
      <img src="{{comment.userId.profile.pictureUrl}}">
      <a [routerLink]="['/profile']"><b>{{ comment.userId.profile.username }}</b></a>
     {{ comment.text }}
    </div>
    <div *ngIf="!true">
      <div  class="divider"></div>
      <div class="comment-form">
        <form #form="ngForm" (submit)="postComment(form.value)" class="form col-md-12 center-block">
            <input class="form-control" id="commentText" type="text" name="commentText"  >
            <div class="text-right"><button type="submit" class="btn btn-success">Submit</button></div>
        </form>
      </div>
    </div>
  </div>
</div>
