.navbar-principal {
  background-color: #414141;
}

.navbar-default .navbar-nav > li > a {
  color: #FFFFFF;
  font-style: bold;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #414141;
  background-color: #ffdd25;

}

.navbar-item >a{
  border-radius: 5px;
  margin: 10px 5px;
padding: 5px;
}

.navbar-item > a:hover{
  color: #414141 !important;
  background-color: #ffdd25;
}


.modal-dialog{
  width:50%;
}
.modal-content{
    background: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 0px;
}
