.panel{
  background-color: inherit;
}
.profile-nav ul.nav > li {
  border-bottom: 1px solid #ebeae6;
  line-height: 30px;
}

.profile-nav ul li.active a {
  color: #414141;
  border-left: 5px solid #ffdd25;
  background: #ffdd2538;
}


.profile-nav ul li a {
  color: #AAB3BF;
}

.profile-nav ul.list-inline li a {
  color: #FFFFFF;
}
.nav > li > a:hover, .nav > li > a:focus{
  color:#414141 !important;
  background-color: inherit !important;
}
.nav-stacked > li + li{
  margin-top:0;
}
.nav-pills {
  margin-top: 25px;
 background-color: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.nav-pills > li > a{
  border-radius: 0;
}
.user-heading.round a.user-picture {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 10px solid #ffdd25;
  display: inline-block;
}

.user-heading {
  background: #AAB3BF;
  color: #FFFFFF;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  text-align: center;
  padding: 30px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.user-heading img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

.btn.btn-default.follow {
  background-color: #ADCFFF;
  color: #FFFFFF;
  border-color: #FFFFFF;
  border-radius: 5px;
  font-style: bold;
}

.btn.btn-default.unfollow {
  background-color: #AAB3BF;
  color: #FFFFFF;
  border-color: #FFFFFF;
  border-radius: 5px;
  font-style: bold;
}

.message-heading img{
   width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  display: inline-block;
}
