<h1 style="padding-left: 30px">Ranking</h1>
<table class='table table-striped table-hover'>
<thead>
<tr style="background-color: #937F01; color: white">
<th style="text-align: center">Rank</th>
<th style="text-align: center">User</th>
<th style="text-align: center">Likes</th>
</tr>
</thead>
<tbody>
<tr *ngFor='let user of ranking; let i=index' style="text-align: center">
<td>{{i+1}}</td>
<td>
<a class="no_underline" href="#"><img class="avatar_image" src="{{user.pictureUrl}}" />
</a><a [routerLink]="['/profileOther', user.username, 'videos']">{{user.username}}
</a></td>
<td>{{user.count}}</td>
</tr>

</tbody>
</table>




 
