<div class="row" style="margin-top: 30px; margin-bottom: 30px;">
    <div class="col-md-offset-1 col-md-10">
      <div class="row">
        <div class="col-md-3 col-xs-12">
          <div class="home-nav">
            <div class="panel">
              <ul class="nav nav-pills nav-stacked">
                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                  <a routerLink="/settings/editProfile">

                              <span class="glyphicon glyphicon-user"></span>
                    Profile
                  </a>
                </li>
                <li>
                  <a class="logoutLink" (click)="logout()">

          <span class="glyphicon glyphicon-off"></span>
                    Logout
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-9 col-xs-12">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
</div>
