.nav-pills > li.active > a {
  color: #414141;
  border-left: 5px solid #ffdd25;
  background: #ffdd2538;
}

.nav-pills > li > a {
  color: #AAB3BF;
}

.nav-pills > li > a.logoutLink {
  color: #D34836;
}

.nav-pills > li > a.logoutLink:hover {
  cursor: pointer;
  background: #ffdd2538;
}


.nav > li > a:hover, .nav > li > a:focus{
  color:#414141 !important;
  background-color: inherit !important;
}
